div{
	border: 2px solid blue;
}

.footer-wrapper{
	width: 1920px;
}

.insta-widget{
	width:100%;
	line-height: 0px;

}

.subscribe{

	width: 100%;
	line-height: 200px;
	color: white;


}

.footer-top{
	width: 100%;
	background-color:#212121; 
	line-height: 540px;
	padding-top: 50px;
	padding-bottom: 50px;

}


.footer-bottom-wrapper{

	width: 100%;
	line-height: 42px;
	background-color: #303030;
}

.footer-bottom-left{
	width: 60%;

}

.footer-bottom-right{
	width: 40%;
}



.footer-top-wrapper{
  display: flex;


}

.footer-wrapper span{
  color:white;
}
.pages {
  flex:1;
  line-height: 20px;
  color: white;


}

.pages ul{
  margin-top: 30px;
  width: 260px;
}
.pages ul li{
  margin-bottom:  10px;
  list-style: none;
  border: 0.5px solid #757575;
  border-radius: 6px;
  position: relative;
  padding-left: 5px;
}

/*.pages ul li:first-child{
  margin-top: 30px;
  list-style: none;
  border: 0.5px solid #757575;
  width: 260px;
  border-radius: 6px;
  position: relative;
  padding-left: 5px;
}*/


.pages ul li span{
  position: absolute;
  float: right;
  right: 15px;
  top: 12px;
  }

.pages ul li a{
  text-decoration:none;
  line-height: 45px;
  font-size: 18px;
  color:  #bdbdbd;


}

.dropdowns{
    position: relative;
    display: inline-block;
    width: 255px;
    /*margin-left: -3px;*/

}

.dropdowns:hover {
  height: 160px;
}
.dropdowns-content{
    display:none;
    position:absolute;
    top : 7px;  
    left: -1px;
  z-index: 1;
  /*width: 20px;*/


}
.dropdowns-content li{
  /*border: none;*/
    margin: 0px;
  border: none;
  /*width: 20px;*/
  /*border: none;*/
  /*border: 0.5px solid red;*/
}
.dropdown-content li:hover {
  padding: 0px;
  /*border: none;*/
  margin: 0px;
}
.dropdowns:hover  img{
  content: url("../images/remove.png");

}

.dropdowns-content a:hover {
  display: inline-block;

  background-color: #ddd;
}

.dropdowns:hover .dropdowns-content {display:block; background:#212121;}



.widget{
  flex: 1;
  line-height: 20px;
  /*align-items: flex-end;*/

}

.twitter-widget ul {
  list-style: none;
  margin-top: 30px;
  /*color: #595959*/
}
.twitter-widget ul li{
  height: 90px;
  border-bottom:0.5px solid #757575;
  width: 260px;
}

.twitter-widget ul p
{
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
}

.twitter-widget ul li a
{
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}
.tweets ul img{
  background-color: transparent;  
}

.social-widget{
  text-align:left;
  /*margin-top:350px;*/
  line-height: 50px;
}

.flickr{
  flex: 1;
  line-height: 20px;
  /*margin-top: 50px*/

}


.flickr img{
  
  margin-top: 30px;
  width: 270px;
  
}

.newsletter{
  flex: 1;
  line-height: 20px; 
  /*color: white;*/

}



.newsletter input{
  margin-top: 30px;
  list-style: none;
  border: 0.5px solid #757575;
  width: 260px;
  border-radius: 6px;
  background-color: transparent;
  line-height: 50px;
  padding-left: 5px;
  color: white;


}

#email{
  margin-top: 10px;
}

.newsletter textarea{
  background-color: transparent;
  border: 0.5px solid #757575;
  /*text-align: */

}

#msg{
  width: 260px;
  height: 170px;
  border: 0.5px solid #757575;
  padding-left: 5px;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom:0px;
  resize: vertical;
  border-radius: 6px;
  color: white;

}

.newsletter button{
  width: 265px;
  background-color: transparent;
  border: 0.5px solid #757575;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  background-color: #303030;
  font-weight: 400;
}

.footer-bottom{
background-color: #303030;
line-height:80px;
}

.footer-bottom-left {
  display: inline-block;
  float: left;
}

.footer-bottom-left ul li
{
  list-style: none;
  display: inline-block;
}

.footer-bottom-left ul li a
{
  color:white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin-right: 38px;
  display: inline-block;
}

.footer-bottom-right{
  float: right;
}

.searchbar{
  float: left;
  margin-left: 150px;
}

.searchbar input{
  background-image: url('../images/search-icon.png');
  background-repeat: no-repeat;
  background-position:right;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  line-height: 33px;
  padding-left: 5px;
  color: white;


}

.searchbar img{
  margin-right: -50px;
}
.language{
  float: right;
  margin-right: 40px;
}
.language span a{
  
  font-weight: 400;
  font-size: 15px;
  padding-left: 5px;
}


