*{
  margin:0;padding:0;
}

body{
  background-color: #2a2b2d;
}

#slider-wrapper{
  width: 800px;
  height: 500px;
  border: 1px solid #fff;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
}


#slider-wrapper .left-arrow{
  height: 150px;
  width: 150px;
  position: absolute;
  top: 200px;
  left: 10px;
}

#slider-wrapper .left-arrow:hover{
  background-color: #dadee5;
}

#slider-wrapper .right-arrow:hover{
  background-color: #dadee5;
}

#slider-wrapper .right-arrow{
  height: 150px;
  width: 150px;
  position: absolute;
  top: 200px;
  right: 10px;
}

#slider-wrapper ul{
  width: 4000px;
  height: 500px;
}

#slider-wrapper ul li{
  float: left;
  display: inline-block;
}

#dots{
  position: absolute;
  top: 470px;
  right: 350px
}


.dot {
  height: 20px;
  width: 20px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover{
  background-color: red;
}
